<div class="cliente mb-5">
  <h1 class="text-center mt-4">Protocolo {{ protocolo?.name }}</h1>
  <div class="mt-5 mb-5 d-flex justify-content-between align-items-center">
    <button
      mat-fab
      extended
      color="primary"
      [routerLink]="['/cliente', protocolo?.clientId]"
    >
      <mat-icon>arrow_back</mat-icon>
      Voltar
    </button>
    <button
      mat-fab
      extended
      color="primary"
      [routerLink]="['./aplicacao']"
      [queryParams]="{ protocolo: protocolo?.id }"
    >
      Aplicar protocolo
    </button>
  </div>
  <div *ngIf="aplicacoesSucesso && aplicacoesSucesso.length > 0" class="mb-5">
    <h2>Gráfico de evolução</h2>
    <app-evolution-chart [applications]="aplicacoesSucesso"></app-evolution-chart>
  </div>
  <h2>Aplicações do protocolos</h2>
  <div *ngIf="aplicacoes && aplicacoes.length > 0">
    <mat-accordion>
      <mat-expansion-panel class="mt-2 mb-2 rounded-2" *ngFor="let item of aplicacoes; let i = index">
        <mat-expansion-panel-header class="p-4 h-100">
          <mat-panel-title>
            <div class="status">
              <div class="status__circle" [ngClass]="item.aborted ? 'bg-danger': 'bg-success'"></div>
            </div>
            <h5 class="m-0">{{i+1}}° Aplicação</h5>
          </mat-panel-title>
          <mat-panel-description>
            <h6 class="text-danger" *ngIf="item.aborted">Essa aplicação foi abortada</h6>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row mt-2 mb-3">
          <div class="col-6">
            <h6>Tentativas com sucesso:</h6> 
            <p>{{item.success}}</p>
          </div>
          <div class="col-6">
            <h6>Tentativas com insucesso:</h6> 
            <p>{{item.failure}}</p>
          </div>
        </div>
        <div class="row mt-2 mb-3">
          <div class="col-12">
            <h6>Percentual de sucesso:</h6>
            <p>{{item.positivePercentage | number}}%</p>
          </div>
        </div>
        <div class="row mt-2 mb-3">
          <div class="col-6">
            <h6>Criado por:</h6> 
            <p>{{item.createdBy}}</p>
          </div>
          <div class="col-6">
            <h6>Data da aplicação:</h6> 
            <p>{{item.createdAt+'Z' | date : 'dd/MM/yyyy HH:mm'}}</p>
          </div>
          <div class="row mt-2 mb-3" *ngIf="item.reasonAbortion">
            <div class="col-12">
              <h6 class="text-danger">Motivo pelo qual foi abortada a aplicação:</h6> 
              <p class="text-danger">{{item.reasonAbortion}}</p>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>     
  </div>
  <p *ngIf="aplicacoes && aplicacoes.length <= 0">Não foi realizada nenhuma aplicação do protocolo {{ protocolo?.name }}</p>
</div>

