<div class="cliente mb-5">
  <h1 class="text-center mt-4">Protocolo {{ protocolo?.name }}</h1>
  <div class="mt-5 mb-5 d-flex justify-content-between align-items-center">
    <button
      mat-fab
      extended
      color="primary"
      [routerLink]="['/cliente', idCliente]"
    >
      <mat-icon>arrow_back</mat-icon>
      Voltar
    </button>
    <button
      mat-fab
      extended
      color="primary"
      [routerLink]="['./aplicacao']"
      [queryParams]="{ cliente: idCliente, protocolo: protocolo?.id }"
    >
      Aplicar protocolo
    </button>
  </div>
  <h2>Aplicações do protocolos</h2>
  <div *ngIf="aplicacoes?.length > 0">
    <table mat-table [dataSource]="aplicacoes" class="mat-elevation-z8 mb-4">
      <ng-container matColumnDef="aplicacao">
        <th mat-header-cell *matHeaderCellDef>Aplicação</th>
        <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}°</td>
      </ng-container>
  
      <ng-container matColumnDef="dataAplicacao">
        <th mat-header-cell *matHeaderCellDef>Data da aplicação</th>
        <td mat-cell *matCellDef="let element; let i = index">
          {{ element.dataAplicacao | date : "dd/MM/yyyy HH:mm" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="percentual">
        <th mat-header-cell *matHeaderCellDef>Percentual de sucesso</th>
        <td mat-cell *matCellDef="let element; let i = index">
          {{ element.parcialDeSucesso }}%
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <p *ngIf="aplicacoes?.length <= 0">Não foi realizada nenhuma aplicação do protocolo {{ protocolo?.name }}</p>
</div>
